[Unit]
Description=JDownloader
After=syslog.target network.target

[Service]
SuccessExitStatus=143
Type=simple

WorkingDirectory=/volume1/@appstore/JDownloader
ExecStart=/bin/bash -c "/usr/local/jdk-18.0.1.1/bin/java -jar JDownloader.jar" 
TimeoutStartSec=3600
TimeoutStopSec=3600
RemainAfterExit=true

[Install]
WantedBy=multi-user.target