[Unit]
Description=JDownloader
After=syslog.target network.target

[Service]
SuccessExitStatus=143
Type=forking

WorkingDirectory=/volume1/@appstore/JDownloader
ExecStart=/volume1/@appstore/JDownloader/start.sh
TimeoutStartSec=3600
TimeoutStopSec=3600
RemainAfterExit=true
PIDFile=/volume1/@appstore/JDownloader/JDownloader.pid


[Install]
WantedBy=multi-user.target